.event {
  min-width: 300px;
  height: 250px;
  background: var(--second-color);
  margin: 40px;
  border-left: 7px solid var(--second-color);
}

.events-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-title {
  font-size: 2em;
  margin: 0.3em;
}
